#Importing Libraries

In [ ]:
import pandas as pd
import os

#Importing Data

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)
%cd gdrive/MyDrive/Tableau_Practice/Bikes

Mounted at /content/gdrive/
/content/gdrive/MyDrive/Tableau_Practice/Bikes

In [ ]:
for file in os.listdir():
  print(file)

202101-divvy-tripdata.csv
202102-divvy-tripdata.csv
202103-divvy-tripdata.csv
202104-divvy-tripdata.csv
202105-divvy-tripdata.csv
202106-divvy-tripdata.csv
202107-divvy-tripdata.csv
202108-divvy-tripdata.csv
202109-divvy-tripdata.csv

In [ ]:
test = pd.read_csv('202101-divvy-tripdata.csv')
test

                ride_id  rideable_type  ...    end_lng member_casual
0      E19E6F1B8D4C42ED  electric_bike  ... -87.720000        member
1      DC88F20C2C55F27F  electric_bike  ... -87.690000        member
2      EC45C94683FE3F27  electric_bike  ... -87.700000        member
3      4FA453A75AE377DB  electric_bike  ... -87.690000        member
4      BE5E8EB4E7263A0B  electric_bike  ... -87.700000        casual
...                 ...            ...  ...        ...           ...
96829  B1A5336E1412D8BF   classic_bike  ... -87.652310        member
96830  57EA5CB7DCD75F90   classic_bike  ... -87.652310        member
96831  815B319A078CC984   classic_bike  ... -87.652310        member
96832  6DB04151565CEE63   classic_bike  ... -87.652310        member
96833  8008C9C998083A1A    docked_bike  ... -87.616743        casual

[96834 rows x 13 columns]

In [ ]:
bikes = []
for file in os.listdir():
  if file.endswith('.csv'):
    #Change name of column Id in work locations df, this to keep naming consitent
    df = pd.read_csv(file)
    bikes.append(df)

df = pd.concat(bikes, axis=0, ignore_index=True)
df

                  ride_id  rideable_type  ...    end_lng member_casual
0        E19E6F1B8D4C42ED  electric_bike  ... -87.720000        member
1        DC88F20C2C55F27F  electric_bike  ... -87.690000        member
2        EC45C94683FE3F27  electric_bike  ... -87.700000        member
3        4FA453A75AE377DB  electric_bike  ... -87.690000        member
4        BE5E8EB4E7263A0B  electric_bike  ... -87.700000        casual
...                   ...            ...  ...        ...           ...
4356314  FA66BCAB0D73DDC2   classic_bike  ... -87.586883        casual
4356315  1D44DEFB5D36CA04   classic_bike  ... -87.580715        casual
4356316  6A346EA57FC23C45   classic_bike  ... -87.580715        casual
4356317  49360AFD771100A6   classic_bike  ... -87.580715        casual
4356318  343190A2DC023FED  electric_bike  ... -87.641373        member

[4356319 rows x 13 columns]

In [ ]:
df.to_csv('Bikes_all.csv', index=False)